/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы 
  составлять селекторы для разных цветовых тем. */
  background-image: var(--page__bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; /* фон не прокручивается */
}

/* Основной заголовок <h1> */
.title-main {
  color: var(--title-main_color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--title-main_shadow-color);
}

/* Заголовки секций разного уровня */
.title,
.best-in-pictures > .title,
.header__subtitle {
  color: var(--title-l_color);
  font-weight: bold;
  font-size: inherit;
  line-height: 130%;
  background-color: var(--accent-color);
}

h2.title {
  color: var(--title-xl_color);
  background-color: transparent;
}

h4.title {
  font-weight: normal;
}

/* Обычный текст */
.text {
  padding-top: 10px;
}

/* Текст-ссылка */
.text-link {
  text-decoration-line: none;
  text-shadow: 2px 2px 0px var(--accent-color);
}

.text-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.text-link:focus {
  outline-color: transparent;
}
.text-link:focus-visible {
  outline: 1px solid var(--text-color);
}

.header,
.footer {
  position: relative; /* для ::before и ::after */
  display: grid;
  padding: 0 var(--paddings-left-right);
  block-size: 100vh;
  min-block-size: 668px;
}

.header {
  grid-template-columns: 1fr 1fr; /* выравнивание .header__subtitle */
  grid-template-rows: 1fr min-content 1fr;
}

/* Общие стили для декативноых рамок (уголков)  */
.header::before,
.header::after,
.footer::before,
.footer::after {
  content: "";
  position: absolute;
  width: var(--frame-lines-size);
  height: var(--frame-lines-size);
  border-style: solid;
  border-color: var(--decor-color);
}

.header::before,
.footer::before {
  bottom: var(--paddings-left-right);
  left: var(--paddings-left-right);
  border-width: 0 0 1px 1px;
}

.header::after,
.footer::after {
  top: var(--paddings-left-right);
  right: var(--paddings-left-right);
  border-width: 1px 1px 0 0;
}

.header__decor-rec {
  position: absolute;
  top: var(--paddings-left-right);
  right: calc(
    var(--paddings-left-right) +
      (var(--frame-lines-size) + var(--indicator-size)) / 2 + 11px
  );
  display: var(--decor__rec_display);
  color: var(--decor-color);
  font-weight: normal;
  line-height: 139%;
}

/* Круглый световой индикатор записи  REC */
.header__decor-rec::after {
  content: "";
  position: absolute;
  width: var(--indicator-size);
  height: var(--indicator-size);
  margin-inline-start: 10px;
  margin-block-start: 8px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--decor-color);
  background: var(--decor-color);
}

.header__title {
  grid-column-start: span 2;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-block-start: calc(var(--paddings-left-right) - 2px);
}

.header__theme-menu {
  grid-column-start: span 2;
  justify-self: end;
  align-self: center;
}

.header__theme-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__theme-menu-button {
  border-color: transparent;
  padding: 3px 12px;
  color: var(--decor-color);
  font-weight: normal;
  line-height: 100%;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--decor-color);
  pointer-events: none; /* кликабельность только с клавиатуры */
}

.header__theme-menu-button:hover {
  outline: var(--theme-menu-button_outline-style);
}

.header__theme-menu-button:focus {
  outline: transparent;
}

.header__theme-menu-button:focus-visible {
  box-shadow: 0px 1px 0px 0px var(--decor-color);
  outline: transparent;
}

.header__subtitle {
  grid-column-start: span 2;
  align-self: center;
  margin-block-end: var(--paddings-left-right);
  background-color: var(--accent-color);
}

/* Шаблон секции */
.section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding-top: var(--section_offset-top);
}

.content {
  padding: 0 var(--paddings-left-right);
}

/* Шаблон первой секции */
.content .section:first-of-type {
  padding-top: calc(var(--section_offset-top) - var(--paddings-left-right));
}

/* Шаблон последней секции */
.content .section:last-of-type {
  padding-bottom: 40px;
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

h3.title + .list {
  padding-top: 20px;
}

.best-in-pictures {
  gap: 10px;
  margin-top: -2px; /* Pixel Perfect */
}

.best-in-pictures img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  justify-items: center;
  align-items: center;
}

.footer__title.title-main {
  text-shadow: 2px 2px 0px var(--title-main_shadow-color);
}

@media (orientation: landscape) {
  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__theme-menu {
    justify-items: center;
    align-self: start;
  }
}

@media (width >= 768px) {
  :root {
    --paddings-left-right: 20px;
    --section_offset-top: 80px; /* отступ перед секциями */
    --pp_add-gap: 7px; /* Pixel Perfect: компенсация доп. смещения */
  }

  .header,
  .footer {
    min-block-size: 1024px;
  }

  .title-main {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin-inline-start: calc(-1 * var(--paddings-left-right));
  }

  .header__subtitle {
    grid-column-start: 2;
  }

  .section {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* Шаблон последней секции */
  .content .section:last-of-type {
    padding-bottom: 60px;
  }

  .reasons .list {
    grid-column-start: span 2;
    padding-left: var(--pp_add-gap); /* Pixel Perfect */
  }

  .bad-things .list {
    grid-column-start: span 3;
  }

  .best-practices .block {
    grid-column-start: span 2;
    padding-left: var(--pp_add-gap); /* Pixel Perfect */
  }

  .best-in-pictures {
    grid-template-areas:
      "title title title"
      "sunset sunset icecream"
      "tape   books  icecream"
      "tape   street street";
    gap: 20px;
  }

  .best-in-pictures .title {
    grid-area: title;
  }

  .best-in-pictures .img-sunset {
    grid-area: sunset;
  }
  .best-in-pictures .img-icecream {
    grid-area: icecream;
  }
  .best-in-pictures .img-tape {
    grid-area: tape;
  }
  .best-in-pictures .img-books {
    grid-area: books;
  }
  .best-in-pictures .img-street {
    grid-area: street;
  }
}

@media (width >= 1024px) {
  .header,
  .footer {
    min-block-size: 768px;
  }

  /* 
  Дублирование 2-х селекторов из @media (orientation: landscape) для корректного 
  отображения меню (Pixel Perfect) при ((width >= 1024px) && (orientation: portrait))
  */
  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .reasons .list {
    padding-left: 0; /* Pixel Perfect */
  }

  .bad-things .list {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .best-practices .block {
    padding-left: 0; /* Pixel Perfect */
  }
}
