/* Здесь вы напишете основную часть стилей страницы.
Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, 
чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;

  /* vvk */
  inline-size: clamp(375px, 48.7%, 700px);
  /* inline-size: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem); */

  margin-inline: auto;

  font: var(--main-font);
  /* font-variation-settings: 'wght' var(--card__text_weight); */ /* реализовано через font */

  background: url(../images/bg.webp),
    linear-gradient(180deg, #e7e7e7 0%, #1a1a1a 100%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* фон не прокручивается */
}

.w1 {
  /* --sz1: 10px; */
  /* --main-font: 100px "Inter Regular", sans-serif; */
  /* font: var(--main-font); */

  /* font-family: "Roboto-Flex-Variable";
  font-size: 100px;
  font-variation-settings: 'wght' 100, 'slnt' -7; */

  /* font-family: 'Press Start 2P Regular';  
  font-size: 100px; */
  /* font-variation-settings: 'wght' 800; */
}

.header {
  border: 1px dashed red;
  margin-block-start: 100px; /* 100px 370px; */
  padding-block: clamp(7.5rem, 0.751vw + 7.324rem, 8rem);

  font: var(--accent-font);
  text-align: center;
  text-transform: uppercase;
  background: #fff;
  border: 2px solid #000;
}

.header__title {
  padding-block-end: 20px;
  font-weight: var(--card__text_weight);
  font-size: clamp(
    3.063rem,
    1.502vw + 2.71rem,
    4.063rem
  ); /* 65px при 1440px, 49px при 375px) */
  /* border: 1px dashed blue; */
}

.header__text {
  font-weight: var(--card__text_weight);
  font-size: clamp(
    0.875rem,
    0.845vw + 0.677rem,
    1.438rem
  ); /* 23px при 1440px, 14px при 375px) */
  line-height: 1; /* для FireFox (в Chrome не обязательно), fig: 23px */
}

.card-list {
  padding-block-start: 100px;
}

.card {
  background: #fff;
  font-size: 18px;
  border: 2px solid #000;
}

.card__title {
  padding: 5px 10px 4px; /* Pixel Perfect */
  font-size: inherit;
  line-height: 1.222;
}

.card__image-wrapper {
  position: relative; /* для позиционирования .card__label */
  aspect-ratio: 1 / 1;
  font-size: 0; /* убираем  автоотступы */
  /* убираем дублирование границ и добавляем недостающиую */
  border: inherit;
  border-inline: none;
}

.card__image {
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.card__label {
  position: absolute;
  right: clamp(
    0.813rem,
    1.127vw + 0.548rem,
    1.563rem
  ); /* 25px при 1440px, 13px при 375px) */
  top: 25px;
  font: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  mix-blend-mode: hard-light;
  text-shadow: 0 0 3px var(--card__label_shadow-color);
}

.card__text {
  /* padding-block-start: 25px;
  padding-block-end: 25px; */
  /* padding-block: 25px; */
}

.card__board {
  /* padding-inline: 25px; */
  padding: 25px;
}

.card__text p:not(:first-of-type) {
  padding-block-start: 27px;
}

.button-panel {
  background-color: lightcoral;
  display: flex;
  justify-content: end;
  /* gap: 10px; */
  block-size: 38px;
  margin-block-start: 25px;
}

.card__like-button {
  inline-size: 130px;
  font: var(--accent-font);
  line-height: 90%;
  border: 2px solid #000;
  background: transparent;
}

.card__icon-button {
  border: none;
}

@media (width <= 375px) {
  .header {
    inline-size: 100%; /* необязательно, работает clamp() в .page */
  }

  .card__title {
    padding: 5px 10px 3px; /* Pixel Perfect */
  }
}

@supports (
  (text-stroke: 1px var(--card__label_shadow-color)) or
    (-webkit-text-stroke: 1px var(--card__label_shadow-color))
) {
  .card__label {
    -webkit-text-stroke: 1px var(--card__label_shadow-color);
    text-stroke: 1px var(--card__label_shadow-color); /* не поддерживается Chrome */
    text-shadow: none;
  }
}
