/* Здесь вы напишете основную часть стилей страницы.
Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, 
чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

/* Сердцебиение */
@keyframes heartbeat {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}

/*  */
@keyframes sparks-ignited {
  to {
    --heart_spark-color: var(--heartbeat-color);
  }
}

.page {
  margin-inline: auto;
  font: var(--main-font);
  background: repeating-linear-gradient(
      90deg,
      var(--bg-grid_accent-color) 0,
      var(--bg-grid_accent-color) var(--bg-grid_snap-step),
      var(--bg-grid_extra-color) var(--bg-grid_snap-step),
      var(--bg-grid_extra-color) calc(var(--bg-grid_snap-step) * 2)
    ),
    repeating-linear-gradient(
      180deg,
      var(--bg-grid_accent-color) 0,
      var(--bg-grid_accent-color) var(--bg-grid_snap-step),
      var(--bg-grid_extra-color) var(--bg-grid_snap-step),
      var(--bg-grid_extra-color) calc(var(--bg-grid_snap-step) * 2)
    ),
    linear-gradient(
      180deg,
      var(--bg-vertical-grad_top-color) 0.01%,
      var(--bg-vertical-grad_bottom-color) 100%
    );
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  inline-size: clamp(375px, 48.7%, 700px);
  font-variation-settings: "wght" 400; /* для github-тестов, уже задан через font: var(--main-font);*/
}

.header {
  margin-block-start: 100px;
  border: var(--border-line);
  padding-block: clamp(7.5rem, 0.751vw + 7.324rem, 8rem);
  font: var(--accent-font);
  text-align: center;
  text-transform: uppercase;
  background: var(--bg_color);
}

.header__title {
  padding-block-end: 20px;
  font-weight: var(--card__text_weight);
  font-size: clamp(3.063rem, 1.502vw + 2.71rem, 4.063rem);
  line-height: 100%; /* для FireFox */
}

.header__text {
  font-weight: var(--card__text_weight);
  font-size: clamp(0.875rem, 0.845vw + 0.677rem, 1.438rem);
  line-height: 1; /* для FireFox (в Chrome не надо), fig: 23px */
}

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  padding-block-start: 100px;
}

.card {
  border: var(--border-line);
  font-size: 18px;
  background: var(--bg_color);
}

.card__title {
  padding: 5px 10px 4px; /* Pixel Perfect */
  font-size: inherit;
  line-height: 1.222;
  font-variation-settings: "wght" 700;
}

.card__image-wrapper {
  position: relative; /* для позиционирования .card__label */
  /* убираем дублирование границ и добавляем недостающиую */
  border: inherit;
  border-inline: none;
  font-size: 0; /* убираем  автоотступы */
  aspect-ratio: 1 / 1; /* для устранения рывков сетки при lazy-загрузке картинок */
}

.card__image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

/* ФИЛЬТРЫ ИЗОБРАЖЕНИЙ КАРТОЧЕК */

.image-confucius {
  filter: saturate(120%) var(--card-image_common-filter);
}

.image-cicero {
  filter: contrast(120%) brightness(110%) var(--card-image_common-filter);
}

.image-sakura {
  filter: blur(0.01rem) saturate(150%) var(--card-image_common-filter);
}

.image-iskander {
  filter: sepia(80%) var(--card-image_common-filter);
}

.image-ford {
  filter: grayscale(0.25) var(--card-image_common-filter);
}

.image-tolstoy {
  filter: hue-rotate(20deg) var(--card-image_common-filter);
}

.image-valery {
  filter: brightness(110%) sepia(80%) var(--card-image_common-filter);
}

.image-zola {
  filter: var(--card-image_common-filter);
}

/********************************/

.card__label {
  position: absolute;
  top: clamp(1.438rem, 0.188vw + 1.393rem, 1.563rem); /* Pixel Perfect */
  right: clamp(0.688rem, 1.315vw + 0.379rem, 1.563rem); /* Pixel Perfect */
  font: var(--accent-font);
  font-size: 14px;
  text-shadow: 0 0 3px var(--card__label_shadow-color);
  mix-blend-mode: hard-light;
}

.card__text {
  text-shadow: 0 0 2px var(--card__text_shadow-color);
}

.card__board {
  padding: 25px;
}

.card__text p:not(:first-of-type) {
  padding-block-start: 27px;
}

.button-panel {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 6px;
  margin-block-start: 25px;
  min-block-size: 38px;
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  outline-offset: -2px; /* Pixel Perfect для height как у .card__like-button */
  background: transparent;
  cursor: pointer;
}

.card__icon-button:focus {
  outline-color: transparent;
}

.card__icon-button:focus-visible {
  outline: var(--border-line);
  transition: outline 0.3s ease;
}

/* АНИМАЦИИ */

/* initial */

.core {
  transition: fill 0.3s 0.03s;
}

.main-body {
  transition: fill 0.3s;
}

.like-icon {
  margin-block-start: 2px; /* Pixel Perfect */
}

.like-icon .contour {
  transition: fill 0.1s linear;
}

/* :hover */

.card__icon-button:hover .core {
  --heart_core-color: var(--heart_contour-color);
  transition: fill 0.3s;
}

.card__icon-button:hover .main-body {
  --heart_main-body-color: var(--heart_contour-color);
  transition: fill 0.3s 0.05s;
}

/* :active */

.card__icon-button:active .core {
  --heart_core-color: var(--heartbeat-color);
  transition: fill 0.3s;
}

.card__icon-button:active .main-body {
  --heart_main-body-color: var(--heartbeat-color);
  transition: fill 0.3s 0.05s;
}

/* onclick (.like-icon.is-liked) */

.like-icon.is-liked .core {
  --heart_core-color: var(--heartbeat-color);
  transition: fill 0.3s;
}

.like-icon.is-liked .main-body {
  --heart_main-body-color: var(--heartbeat-color);
  transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .contour {
  --heart_contour-color: var(--heartbeat-color);
  transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation-name: heartbeat;
  animation-delay: 0.1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

.like-icon.is-liked .sparks {
  transform-origin: center;
  animation-name: sparks-ignited;
  animation-delay: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
}

/************/

.button {
  position: relative; /* для позиционирования ::before */
  border: var(--border-line);
  font: var(--accent-font); /* для корректных padding caption кнопки */
  background: transparent;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left; /* старт трансформации - слева */
}

.button:hover::before {
  transition: transform 0.5s ease-in-out;
  transform: scaleX(1);
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 10.5px; /* Pixel Perfect */
  inline-size: 130px;
}

/* ДИАЛОГ СОХРАНЕНИЯ И ПАНЕЛЬ ЕГО ВЫЗОВА */

.dialog-panel {
  padding-block: 50px 100px;
  background-color: var(--bg_color);
}

.dialog-panel__button-save {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-inline: auto;
  padding: 15px 20px;
}

.button__text {
  color: var(--bg_color); /* для difference (фон - .button:hover::before) */
  font: var(--accent-font);
  line-height: 90%;
  mix-blend-mode: difference;
}

.dialog-panel__button-save .save-icon {
  height: 21px;
  fill: var(--bg_color);
  /* Обработка mix-blend-mode: difference для .button:hover::before */
  mix-blend-mode: difference;
}

.dialog-save {
  border: var(--border-line);
  padding: 30px;
  inline-size: 357px;
}

.dialog-save::backdrop {
  background: rgba(0, 0, 0, 0.75);
}

.dialog__intro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dialog__intro .save-icon {
  flex-shrink: 0;
  block-size: 40px;
}

.dialog-text {
  font: var(--accent-font);
  line-height: 150%;
  text-transform: uppercase;
}

.dialog-save__button-close {
  margin-block-start: 30px;
  padding-block: 9px; /* 12.5px => Pixel Perfect */
  font: var(--accent-font);
  line-height: 110%;
  inline-size: 100%;
}

@media (width <= 375px) {
  .header {
    inline-size: 100%; /* необязательно, работает clamp() в .page */
  }

  .card__title {
    padding: 5px 10px 3.9px; /* Pixel Perfect */
  }

  .card:first-of-type .card__title {
    padding: 5px 10px 3.5px; /* Pixel Perfect */
  }

  .dialog-panel__button-save {
    flex-direction: column;
    gap: 8px;
    padding-block-end: 16px; /* Pixel Perfect */
  }

  .dialog-panel__button-save .save-icon {
    height: 29px;
  }

  .dialog-save {
    padding-inline: 40px;
    inline-size: 341px;
  }
}

@supports (
  (text-stroke: 1px var(--card__label_shadow-color)) or
    (-webkit-text-stroke: 1px var(--card__label_shadow-color))
) {
  .card__label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--card__label_shadow-color);
    text-stroke: 1px var(--card__label_shadow-color); /* Chrome не поддерживает */
  }
}
